.cont-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 1em;
    &-Imagen{
        height: auto;
        width: 10em;
    }

    border: 0.5em solid #1F1F1F;
    border-radius: 2em;

    padding: 1em;


    .Publicacion{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        gap: 5em;
        p{
            margin : 0
        }
        &-imgBx{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            width: 50%;
            &-Imagen{
                width: 18em;
                height: auto;
            }

        }
        &-details{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 2em;
            &-Nombre{
                font-size: xx-large;
            }
            &-Autor{
                font-size: larger;
            }
            &-Descripcion{
                text-align: justify;
            }
            
        }
    }
   
}


