.Publicaciones{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 1em;
    grid-gap: 1em;
    &_publicacion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}